<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>Gestion de Tareas</h1>
    <form class="login-form" id="formulario_login">
        <h3>Login</h3>
        <input type="text" name="" id="correo_login" placeholder="Ingrese su correo" required>
        <input type="password" name="" id="contra_login" placeholder="Ingrese su contraseña" required>
        <button type="submit">Ingresar</button>
        <a id="form_link">Registrarse</a>
    </form>

    <form style="display: none;" class="register-form" id="formulario_register">
        <h3>Registro</h3>
        <input type="text" name="" id="nombre_register" placeholder="Ingrese un nombre de usuario" required>
        <input type="email" name="" id="correo_register" placeholder="Ingrese un correo electronico" required>
        <input type="password" name="" id="contra_register" placeholder="Ingrese una contraseña" required>
        <button type="submit">Registrarse</button>
        <a id="form_link">Iniciar sesion</a>
    </form>
    <script src="scripts/LoginRegister.js"></script>
</body>
</html>